import React from 'react'

export interface {{pascalCase component_name}}Props {
  name: string
}

export default function {{pascalCase component_name}}({ name }: {{pascalCase component_name}}Props) {
  return (
    <div>
      <p className="text-[#16ff92] p-5 bg-black">{name}</p>
    </div>
  )
}
